<div id="receipts-page">
    <section class="receipts d-flex justify-content-center bg-dark" id="insertReceipts">

        {{!-- <!-- template --> --}}
        <div class="card receipt">
            <div class="card-body">
              <h5 class="card-title receipt-title">{{merchant.business_name}}</h5>
              <div class="container">
                <div class="row receipt-header">
                  <div class="col-5 receipt-header-left">
                    <p class="card-text">{{merchant.address}}</p>
                    <p class="card-text">{{merchant.city}}, {{merchant.state}}</p>
                    <p class="card-text">P: {{merchant.phone}}</p>
                  </div>
                  <div class="col-5 receipt-header-right">
                    <p class="card-text">{{updatedAt}}</p>
                    <p class="card-text">Server: {{employee.name}}</p>
                    <p class="card-text">Receipt #: {{id}}</p>
                  </div>
                </div>

                <div class="row">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>QTY</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                      </tr>
                    </thead>

                    <tbody>
                      <div id="menuItems"></div>

                      {{#each menu_items}}
                        <tr>
                          <td class="col-md-6">
                            <em>{{this.item_name}}</em>
                          </td>
                          <td class="col-md-2 text-center">{{this.ticket_items.quantity}}</td>
                          <td class="col-md-2 text-center">${{this.price}}</td>
                          <td class="col-md-2 text-center" id="itemTotal">$</td>
                        </tr>
                        {{else}}
                        <tr>
                          <td class="col-md-6">
                            <em>no item selected</em>
                          </td>
                          <td class="col-md-2" style="text-align: center">0</td>
                          <td class="col-md-2 text-center">0</td>
                          <td class="col-md-2 text-center">0</td>
                        </tr>
                      {{/each}}
                    
                      <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                          <p>
                            <strong>Subtotal:</strong>
                          </p>
                          <p>
                            <strong>Tip:</strong>
                          </p>
                          <p>
                            <strong>Tax:</strong>
                          </p>
                        </td>
                        <td class="text-center">
                          <p>
                            <strong>$subtotalAmount</strong>
                          </p>
                          <p>
                            <strong>$tipAmount</strong>
                          </p>
                          <p>
                            <strong>$taxAmount</strong>
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                          <h4><strong>Total:</strong></h4>
                        </td>
                        <td class="text-center text-danger">
                          <h4><strong>$totalAmount</strong></h4>
                        </td>
                      </tr>
                    </tbody>

                  </table>
                </div>

                <div class="row justify-content-center">
                  <div class="pay-button-container">
                    <button
                      type="button"
                      class="btn btn-success btn-lg tip-button"
                    >
                      Tip
                    </button>
                    <button
                      type="button"
                      class="btn btn-success btn-lg discount-button"
                    >
                      Discount
                    </button>
                    <button
                      type="button"
                      class="btn btn-success btn-lg pay-button"
                    >
                      Pay Now
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </section>
</div>

<script src="/js/checkout.js"></script>