{{> header}}
<div id="theLandingPage">
<section class="landing-page">
    <div class="container">
        <div class="row d-flex">
            <div class="column col-md-4 left-row">
                <div class="row">
                    <!-- <div class=""> -->
                    {{#if ticket.table.table_name}}
                        <button type="button" id="table-map" class="btn btn-dark table-map">
                        {{ticket.table.table_name}}
                        </button>
                    {{else}}
                            <button type="button" id="table-map" class="btn btn-dark table-map">
                        Back to Table Map
                        </button>
                    {{/if}}
                    
                </div>

                <p class="server-name">Hello: {{sesh.currentEmployee}}</p>

                <table class="nqp-table">
                    <tr class="table-header">
                        <th>Name</th>
                        <th class="quantity-table">Quantity</th>
                        <th>Price</th>
                    </tr>
                    {{#each ticket.menu_items}}
                    <tr class="table-row">
                        <td>{{this.item_name}}</td>
                        <td class="fw-semibold">
                            <button
                                class="btn btn-default  btn-subtract "
                                onclick="decreaseQuantity({{this.ticket_items.id}})" type="button">-</button>
                            <span> x {{this.ticket_items.quantity}}  </span>
                            <button
                                class="btn btn-default  btn-add"
                                onclick="increaseQuantity({{this.ticket_items.menu_item_id}}, {{../ticket.id}})"
                                type="button">+</button></td>
                        <td>${{multiply this.ticket_items.quantity this.price}}</td>
                    </tr>
                    {{/each}}
                </table>

                <div>
                    <button type="button" id="kitchen" class="btn btn-dark send-kitchen">
                        <i class="fa-thin fa-paper-plane-top"></i>
                        Send to Kitchen
                    </button>
                    <div id="kitchen-message" class="text-success text-center" style="visibility: hidden;">
                             Order seccessfully sent to kitchen!
                    </div>
                </div>
                <div id="sales-tax">
                    <table class="sales-tax">
                        <tr>
                            <th>Sales Tax:</th>
                            <td>${{salesTax ticket.menu_items}} (2.9%)</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>${{totals ticket.menu_items}}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <button type="button" id="checkout" class="btn btn-success checkout">
                        <i class="fa-sharp fa-regular fa-credit-card"></i>
                        Checkout
                    </button>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row justify-content-between">
                    <div class="col-lg-4 right-row-btns">
                        <button id="drink" class="btn btn-lg btn-dark drinks">Drinks</button>
                    </div>
                    <div id="food" class="col-lg-4 right-row-btns">
                        <button class="btn btn-lg btn-dark food">Food</button>
                    </div>
                    <div id="merch" class="col-lg-4 right-row-btns">
                    <i class="fa-solid fa-gift-card"></i> <button class="btn btn-lg btn-dark merch">
                            Merch <br />Giftcards
                        </button>
                    </div>
                </div>
                <div id="menuDisplay" class="">   
                </div>
            </div>

            
        </div>
    </div>
    </div>
    <script src="/js/landingpage.js"></script>
</section>
</div>